/*universal border sizing*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*site background color*/
body {
    background-color: #d9dcd6;
}

/*font, color, and spacing for header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*h1 spacing*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*change colors in h1 font*/
.seo {
    color: #d9dcd6;
}

/*header positioning*/
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*no markers for list*/
header div ul {
    list-style-type: none;
}

/*list displays horizontally*/
header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*hyperlinks colored and underlines removed*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*paragraph sizing*/
p {
    font-size: 16px;
}

/*background image under header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*spacing for blue bars on left*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*notepad image left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*computer image right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*spacing and font for left-hand content*/
.content-details {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*image sizing for left-hand content*/
.content-details img {
    max-height: 200px;
}

/*header spacing for left-hand content*/
.content-details h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*box set-up for left-hand content*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*spacing and color for text in left-hand box*/
.benefit-details {
    margin-bottom: 32px;
    color: #ffffff;
}

/*spacing for h3 elements*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*spacing and positioning for left-hand images*/
.benefit-details img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*spacing for entirety of footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*size for h2 element in footer*/
footer h2 {
    font-size: 20px;
}
